<app-header></app-header><br><br>
<button [hidden]="!CreateBtn" type="submit" class="btn btn-primary" (click)=Create()>Create</button><br><br>
<div [hidden]="!CreateForm">
<form>
	<div class="row col-sm-12 col-lg-12">
  <div class="form-group col-sm-4 col-lg-4">
    <label for="exampleInputItem">Item</label>
    <input type="form-text" class="form-control" name="item" [(ngModel)]="model.item" #item="ngModel" id="InputItem" placeholder="Enter Item">
  </div>
  <div class="form-group col-sm-4 col-lg-4">
    <label for="exampleInputQty">Quantity</label>
    <input type="number" class="form-control" name="qty" [(ngModel)]="model.qty" #qty="ngModel" id="InputQty" placeholder="Enter Quantity">
  </div>
  <div class="form-group col-sm-4 col-lg-4">
  	<label for="exampleInputValue">Value</label>
    <input type="number" class="form-control" name="value" [(ngModel)]="model.value" #value="ngModel" id="InputValue">
  </div>
</div>
<br>
  <button type="submit" class="btn btn-primary" (click)=Submit()>Submit</button>
  <button class="btn btn-secondary" (click)=Cancel()>Cancel</button>
</form><br><br>
</div>
<div [hidden]='!TxnRef'>
	<label>Transaction Ref#: </label>{{TransactionRef}}<br><br>
	<button class="btn btn-primary" (click)=Cancel()>Ok</button>
	<br><br>
</div>
<div>
<ul class="list-group">
  <li *ngFor="let contract of Contracts" class="list-group-item">Item: {{contract.item}}, Quantity: {{contract.qty}}, Value: {{contract.value}}</li>
</ul>
</div><br><br>
<button class="btn btn-primary" (click)=Logout()>Logout</button>